In [41]:
import numpy as np
import pandas as pd

In [42]:
df=pd.read_csv("../原始数据/cleaned_senti_reviews.csv")

### 1. Feature Selection

#### 1.1 select subjectively

In [45]:
delete_columns=['reviewer_name','name','neighborhood_overview','host_id','host_about','host_neighbourhood',
                'host_has_profile_pic', 'host_identity_verified','neighbourhood_cleansed', 'neighbourhood_group_cleansed',
                'calendar_updated','number_of_reviews'
               ]

In [46]:
df2=df.drop(delete_columns,axis=1)

### 2. Feature Processing

#### Date feature is converted to date_time type

In [47]:
df2["date"]=pd.to_datetime(df2.date)

#### delete comments missing values

In [48]:
df2.dropna(subset=["comments"],inplace=True)

#### price特征：The string is converted to a decimal, which means the price of one night’s stay

In [49]:
df2["price"]=df2.price.apply(lambda x:float(x[1:].replace(",","")))

In [50]:
df2.price.value_counts()

60.0      4112
50.0      3543
85.0      3445
70.0      2775
120.0     2632
          ...
396.0        1
433.0        1
2943.0       1
530.0        1
597.0        1
Name: price, Length: 545, dtype: int64

#### review_scores_rating features：Delete null values and integrate these features feature cross <font color=#008000></font>

In [51]:
df2[['review_scores_rating',
       #'review_scores_accuracy', 'review_scores_cleanliness',
       #'review_scores_checkin', 'review_scores_communication',
       #'review_scores_location', 'review_scores_value'
    ]].isnull().value_counts()

review_scores_rating
False                   130628
True                         4
dtype: int64

We found that there are fewer missing values, so the samples with null values of these features are deleted

In [52]:
df2.dropna(subset=['review_scores_rating','review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value'],inplace=True)

In [53]:
df2.shape

(130602, 46)

### 3. Extract the final features

In [54]:
feature_selected=['reviewer_id', 'listing_id', 'date', 'comments', 'price',
                  'review_scores_rating','review_scores_accuracy', 'review_scores_cleanliness',
                  'review_scores_checkin', 'review_scores_communication','review_scores_location',
                  'review_scores_value',"polarity_score","sentiment"]

In [55]:
customers=df2[feature_selected]

In [56]:
customers.head(2)

,reviewer_id,listing_id,date,comments,price,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,polarity_score,sentiment
0,8557223,49091,2013-10-21,Fran was absolutely gracious and welcoming. Ma...,81.0,94.0,10.0,10.0,10.0,10.0,8.0,8.0,0.9615,pos
1,1356099,50646,2014-04-18,A comfortable room in a smart condo developmen...,80.0,91.0,9.0,10.0,10.0,10.0,9.0,9.0,0.9484,pos

In [57]:
customers.shape

(130602, 14)

### 4. export the file

In [58]:
customers.to_csv("../终版数据/customers_final_version.csv",index=False)