In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import pandas as pd

In [5]:
listings=pd.read_csv("/content/drive/My Drive/BT4222_Project/final_datasets/listings_final_version.csv")
customers=pd.read_csv("/content/drive/My Drive/BT4222_Project/final_datasets/customers_final_version.csv")

In [6]:
listings.columns

Index(['id', 'description', 'host_since', 'host_is_superhost', 'latitude',
       'longitude', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'maximum_nights',
       'maximum_nights_avg_ntm', 'number_of_reviews_ltm', 'instant_bookable',
       'calculated_host_listings_count', 'nearby_sites_rating',
       'nearest_station_dist', 'nearest_site_dist', 'nearest_site_rating',
       'host_response_time_cross_rate', 'email', 'phone', 'reviews', 'jumio',
       'offline_government_id', 'selfie', 'government_id', 'identity_manual',
       'work_email', 'manual_online', 'manual_offline', 'x0_Central Region',
       'x0_East Region', 'x0_North Region', 'x0_North-East Region',
       'x0_West Region', 'x0_apartment', 'x0_bed and breakfast', 'x0_boat',
       'x0_boutique hotel', 'x0_bungalow', 'x0_condominium', 'x0_guest suite',
       'x0_hostel', 'x0_hotel', 'x0_house', 'x0_loft', 'x0_other',
       'x0_townhouse', 'x0_Entire home/apt', 'x0_Hotel room',
       'x0_Private room', 'x0_Shared room', 'amenities_list', 'Wifi',
       'Air conditioning', 'Kitchen', 'Parking', 'Outdoor', 'Kids',
       'Pets allowed', 'Workspace', 'Gym', 'Breakfast',
       'availability_average'],
      dtype='object')

In [7]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12222 entries, 0 to 12221
Data columns (total 68 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12222 non-null  int64
 1   description                     12222 non-null  object
 2   host_since                      12222 non-null  object
 3   host_is_superhost               12222 non-null  int64
 4   latitude                        12222 non-null  float64
 5   longitude                       12222 non-null  float64
 6   accommodates                    12222 non-null  int64
 7   bathrooms                       12222 non-null  float64
 8   bedrooms                        12222 non-null  float64
 9   beds                            12222 non-null  float64
 10  amenities                       12222 non-null  object
 11  price                           12222 non-null  float64
 12  minimum_nights                  12222 non-null  int64
 13  maximum_nights                  12222 non-null  int64
 14  maximum_nights_avg_ntm          12222 non-null  float64
 15  number_of_reviews_ltm           12222 non-null  int64
 16  instant_bookable                12222 non-null  int64
 17  calculated_host_listings_count  12222 non-null  int64
 18  nearby_sites_rating             12222 non-null  float64
 19  nearest_station_dist            12222 non-null  float64
 20  nearest_site_dist               12222 non-null  float64
 21  nearest_site_rating             12222 non-null  float64
 22  host_response_time_cross_rate   12222 non-null  float64
 23  email                           12222 non-null  int64
 24  phone                           12222 non-null  int64
 25  reviews                         12222 non-null  int64
 26  jumio                           12222 non-null  int64
 27  offline_government_id           12222 non-null  int64
 28  selfie                          12222 non-null  int64
 29  government_id                   12222 non-null  int64
 30  identity_manual                 12222 non-null  int64
 31  work_email                      12222 non-null  int64
 32  manual_online                   12222 non-null  int64
 33  manual_offline                  12222 non-null  int64
 34  x0_Central Region               12222 non-null  float64
 35  x0_East Region                  12222 non-null  float64
 36  x0_North Region                 12222 non-null  float64
 37  x0_North-East Region            12222 non-null  float64
 38  x0_West Region                  12222 non-null  float64
 39  x0_apartment                    12222 non-null  float64
 40  x0_bed and breakfast            12222 non-null  float64
 41  x0_boat                         12222 non-null  float64
 42  x0_boutique hotel               12222 non-null  float64
 43  x0_bungalow                     12222 non-null  float64
 44  x0_condominium                  12222 non-null  float64
 45  x0_guest suite                  12222 non-null  float64
 46  x0_hostel                       12222 non-null  float64
 47  x0_hotel                        12222 non-null  float64
 48  x0_house                        12222 non-null  float64
 49  x0_loft                         12222 non-null  float64
 50  x0_other                        12222 non-null  float64
 51  x0_townhouse                    12222 non-null  float64
 52  x0_Entire home/apt              12222 non-null  float64
 53  x0_Hotel room                   12222 non-null  float64
 54  x0_Private room                 12222 non-null  float64
 55  x0_Shared room                  12222 non-null  float64
 56  amenities_list                  12222 non-null  object
 57  Wifi                            12222 non-null  int64
 58  Air conditioning                12222 non-null  int64
 59  Kitchen                         12222 non-null  int64
 60  Parking                         12222 non-null  int64
 61  Outdoor                         12222 non-null  int64
 62  Kids                            12222 non-null  int64
 63  Pets allowed                    12222 non-null  int64
 64  Workspace                       12222 non-null  int64
 65  Gym                             12222 non-null  int64
 66  Breakfast                       12222 non-null  int64
 67  availability_average            12222 non-null  float64
dtypes: float64(35), int64(29), object(4)
memory usage: 6.3+ MB

In [8]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130602 entries, 0 to 130601
Data columns (total 14 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   reviewer_id                  130602 non-null  int64
 1   listing_id                   130602 non-null  int64
 2   date                         130602 non-null  object
 3   comments                     130602 non-null  object
 4   price                        130602 non-null  float64
 5   review_scores_rating         130602 non-null  float64
 6   review_scores_accuracy       130602 non-null  float64
 7   review_scores_cleanliness    130602 non-null  float64
 8   review_scores_checkin        130602 non-null  float64
 9   review_scores_communication  130602 non-null  float64
 10  review_scores_location       130602 non-null  float64
 11  review_scores_value          130602 non-null  float64
 12  polarity_score               130602 non-null  float64
 13  sentiment                    130602 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 13.9+ MB

# Knowledge Recommender

In [9]:
import pandas as pd
import numpy as np

In [10]:
df_kr = listings[['host_is_superhost', 'nearby_sites_rating', 'bathrooms', 'bedrooms', 'beds', 'instant_bookable','amenities_list', 'price']]

In [11]:
listings.columns

Index(['id', 'description', 'host_since', 'host_is_superhost', 'latitude',
       'longitude', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'maximum_nights',
       'maximum_nights_avg_ntm', 'number_of_reviews_ltm', 'instant_bookable',
       'calculated_host_listings_count', 'nearby_sites_rating',
       'nearest_station_dist', 'nearest_site_dist', 'nearest_site_rating',
       'host_response_time_cross_rate', 'email', 'phone', 'reviews', 'jumio',
       'offline_government_id', 'selfie', 'government_id', 'identity_manual',
       'work_email', 'manual_online', 'manual_offline', 'x0_Central Region',
       'x0_East Region', 'x0_North Region', 'x0_North-East Region',
       'x0_West Region', 'x0_apartment', 'x0_bed and breakfast', 'x0_boat',
       'x0_boutique hotel', 'x0_bungalow', 'x0_condominium', 'x0_guest suite',
       'x0_hostel', 'x0_hotel', 'x0_house', 'x0_loft', 'x0_other',
       'x0_townhouse', 'x0_Entire home/apt', 'x0_Hotel room',
       'x0_Private room', 'x0_Shared room', 'amenities_list', 'Wifi',
       'Air conditioning', 'Kitchen', 'Parking', 'Outdoor', 'Kids',
       'Pets allowed', 'Workspace', 'Gym', 'Breakfast',
       'availability_average'],
      dtype='object')

In [12]:
df_kr_new = listings[['host_is_superhost', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'amenities_list', 'price', 'minimum_nights', 'maximum_nights',
                      'instant_bookable', 'x0_Entire home/apt', 'x0_Hotel room', 'x0_Private room', 'x0_Shared room']]

In [13]:
df_kr.head()

   host_is_superhost  ...  price
0                  0  ...  200.0
1                  0  ...   76.0
2                  0  ...   80.0
3                  0  ...  143.0
4                  0  ...   85.0

[5 rows x 8 columns]

In [14]:
def build_chart(df, host_is_superhost, nearby_sites_rating, bathrooms, bedrooms, beds, instant_bookable, *amenities):
    listings = df.copy()
    
    # Filter based on the condition
    listings = listings[(listings['host_is_superhost'] == host_is_superhost) & 
                    (listings['nearby_sites_rating'] >= nearby_sites_rating) & 
                    (listings['bathrooms'] >= bathrooms) & 
                    (listings['bedrooms'] >= bedrooms) & 
                    (listings['beds'] >= beds) &
                    (listings['instant_bookable'] == instant_bookable)]

    for a in amenities:
      listings = listings[listings['amenities_list'].str.contains(a)]

    q_listings = listings.sort_values('price')
    
    return q_listings

In [15]:
def build_chart_new(df, host_is_superhost, accommodates, bathrooms, bedrooms, beds, instant_bookable, price_low, price_high, minimum_nights, maximum_nights,
                x0_Entire_home_or_apt, x0_Hotel_room, x0_Private_room, x0_Shared_room, *amenities):
    listings = df.copy()
    
    # Filter based on the condition
    listings = listings[(listings['host_is_superhost'] == host_is_superhost) & 
                    (listings['bathrooms'] >= bathrooms) & 
                    (listings['bedrooms'] >= bedrooms) & 
                    (listings['beds'] >= beds) &
                    (listings['instant_bookable'] == instant_bookable) &
                    (price_low <= listings['price']) &
                    (listings['price'] <= price_high) &
                    (listings['minimum_nights'] <= minimum_nights) &
                    (listings['maximum_nights'] >= maximum_nights) &
                    (listings['x0_Entire home/apt'] == x0_Entire_home_or_apt) &
                    (listings['x0_Hotel room'] == x0_Hotel_room) &
                    (listings['x0_Private room'] == x0_Private_room) &
                    (listings['x0_Shared room'] == x0_Shared_room)
                    ]

    for a in amenities:
      listings = listings[listings['amenities_list'].str.contains(a)]

    q_listings = listings.sort_values('price')
    
    return q_listings

In [16]:
build_chart_new(df_kr_new, 1, 2, 2, 2, 2, 1, 0, 20000, 1, 2, 1, 0, 0, 0, "TV", "Kitchen").head()

      host_is_superhost  accommodates  ...  x0_Private room  x0_Shared room
3265                  1             4  ...              0.0             0.0
3959                  1             6  ...              0.0             0.0
4285                  1             6  ...              0.0             0.0
2949                  1             6  ...              0.0             0.0
7450                  1             5  ...              0.0             0.0

[5 rows x 14 columns]

In [17]:
build_chart(df_kr, 1, 2, 2, 2, 2, 0, "TV", "Air conditioning", "Kitchen").head()

      host_is_superhost  ...  price
2315                  1  ...  175.0
7586                  1  ...  179.0
5600                  1  ...  188.0
6189                  1  ...  205.0
5416                  1  ...  246.0

[5 rows x 8 columns]

# Content-based Recommendation

In [18]:
df_cbr = listings.copy()

In [19]:
from ast import literal_eval

df_cbr['amenities_list'] = df_cbr.amenities_list.apply(literal_eval)

In [20]:
df_cbr.head(1)

        id  ... availability_average
0  1101652  ...             0.776522

[1 rows x 68 columns]

In [21]:
listings_with_name=pd.read_csv("/content/drive/My Drive/BT4222_Project/datasets/listings_cleaned.csv", low_memory=False)

In [22]:
listings_with_name.head(1)

      id  ... nearest_site_rating
0  49091  ...            4.595264

[1 rows x 55 columns]

In [23]:
name_dict = {}
for index, listing in listings_with_name.iterrows():
  name_dict[listing['id']] = str(listing['name']).title()

In [24]:
df_cbr['name'] = df_cbr['id'].apply(lambda x: name_dict[x])

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')

tfidf_matrix = tfidf.fit_transform(df_cbr['description'])

tfidf_matrix.shape

(12222, 18231)

In [26]:
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [27]:
indices = pd.Series(df_cbr.index, index=df_cbr['name']).drop_duplicates()

In [28]:
def content_recommender(name, cosine_sim, df, indices):
    idx = indices[name]

    # Get the pairwsie similarity scores of all listings with that listing
    # And convert it into a list of tuples as described above
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the listings based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar listings. Ignore the first one.
    sim_scores = sim_scores[1:11]

    # Get the listing indices
    listings_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar listings
    return df['name'].iloc[listings_indices]

In [29]:
content_recommender("Cozy Place In Singapore", cosine_sim, df_cbr, indices)

7570            2Br 2Bath In Katong Near F&B (Min 3 Mths)
2308                    Near To Central With Free Parking
3024     Modern 2Br Apt In Katong, Free Parking, Near F&B
3836     Humble & Conveniently Located 1Br In Katong Area
6257     Humble & Conveniently Located 1Br In Katong Area
2049                                     East Coast Haven
6336     Humble & Conveniently Located 1Br In Katong Area
12220          Kampong Living Cosy Room At Coliving Space
4369           Spacious 3Br Home With East Coast Sea View
10348    Humble & Conveniently Located 1Br In Katong Area
Name: name, dtype: object

# Metadata Based Recommender

In [30]:
listings_new = pd.read_csv("/content/drive/My Drive/BT4222_Project/final_datasets/listings_final_version2.csv")

In [31]:
df_mbr = listings_new.copy()

In [32]:
listings_with_name=pd.read_csv("/content/drive/My Drive/BT4222_Project/datasets/listings_cleaned.csv", low_memory=False)
name_dict = {}
for index, listing in listings_with_name.iterrows():
  name_dict[listing['id']] = str(listing['name']).title()

In [33]:
df_mbr['name'] = df_mbr['id'].apply(lambda x: name_dict[x])

In [34]:
df_mbr.head(1)

        id  ...                     name
0  1101652  ...  Cozy Place In Singapore

[1 rows x 60 columns]

In [35]:
from ast import literal_eval

df_mbr['amenities_list'] = df_mbr.amenities_list.apply(literal_eval)

In [36]:
def sanitize(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [37]:
for feature in ['host_verifications', 'amenities_list']:
    df_mbr[feature] = df_mbr[feature].apply(sanitize)

In [38]:
df_mbr.head(1)

        id  ...                     name
0  1101652  ...  Cozy Place In Singapore

[1 rows x 60 columns]

In [39]:
def create_soup(x):
    return x['description'] + ' ' + str(x['host_about']) + ' '+ ' '.join(x['host_verifications']) + ' ' + ' '.join(x['amenities_list'])

In [40]:
df_mbr['soup'] = df_mbr.apply(create_soup, axis=1)

In [41]:
df_mbr.iloc[0]['soup']

"Explore one of Singapore's best kept heritage in the East, just steps outside this cosy 1-bedroom condo. Surpisingly quiet despite being so near to the delights of Katong with its myriad of shops and endless eateries! Explore one of Singapore's best kept heritage in the East, just steps outside this cosy 1-bedroom condo. Surpisingly quiet despite being so near to the delights of Katong with its myriad of shops and endless eateries!  Simple, cool layout and in tip top condition. Featuring a fully furnished applianced kitchen, dryer, washer and a modern bath with a rain-shower feature to destress. The Queen sized bed comfortably fits two people with additional sofa bed tucked in the living room. A small pool with jacuzzi for relaxation is available too. What is better? A good sized balcony to laze your day away drenching in the tropical sunshine!  It's a great spot to call home during your visit to Singapore! The condo is also a short walk to Parkway Parade Mall, I12Katong Mall, Katong V Hey!\r\n\r\nWelcome to my cozy apartment . I first tried airbnb in last nov and love it. During travel, i like to experience the local local experience and by staying in a place where the local stay, i believe i will be able to learn more about them.\r\n\r\nTake a look at my apartment and even if you are not renting the apartment, feel free to ask me anything about Singapore and i will try my best to assist\r\n\r\nCheers!\r\n\r\nJuan\r\n \r\n\r\n\r\n [ ' e m a i l ' , ' p h o n e ' , ' r e v i e w s ' ] tv cabletv wifi airconditioning wheelchairaccessible pool kitchen freeparkingonpremises elevator heating family/kidfriendly washer dryer essentials shampoo iron"

In [42]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df_mbr['soup'])

from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

df_mbr = df_mbr.reset_index()
indices2 = pd.Series(df_mbr.index, index=df_mbr['name'])

In [43]:
def content_recommender(name, cosine_sim, df, indices):
    idx = indices[name]

    # Get the pairwsie similarity scores of all listings with that listing
    # And convert it into a list of tuples as described above
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the listings based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar listings. Ignore the first one.
    sim_scores = sim_scores[1:11]

    # Get the listing indices
    listings_indices = [i[0] for i in sim_scores]

    df_new = pd.DataFrame(df['name'].iloc[listings_indices])
    df_new = df_new.assign(scores = list(map(lambda x: x[1], sim_scores)))

    # Return the top 10 most similar listings
    return df_new

In [44]:
content_recommender("Cozy Place In Singapore", cosine_sim2, df_mbr, indices2)

                                                   name    scores
507   1 Br W/ Prvt. Bathroom Available In Heart Of Cbd!  0.410496
3610                             Comfy Room @Jurongeast  0.402591
2269                        Mins To Cbd, 2 Br Apartment  0.402432
3382                Huge 2Bdrm >5Mins To Paya Lebar Mrt  0.401115
3775  Discount Bright Homey 2Br Near City Peranakanarea  0.393228
4307    Discount Bright Quiet 2Br Big Balcony Near City  0.372484
2918                   Raffles Place Sea View 1Br Condo  0.369175
7476       Central 2Br Apt In Chinatown Above Mrt (#69)  0.368142
6262         1Br Suite In Chinatown/Cbd Above Mrt (#65)  0.366119
7520          Spacious 1+Study Above Mrt Station, (P-3)  0.365869

In [45]:
content_recommender("Cozy Place In Singapore", cosine_sim, df_cbr, indices)

                                                   name    scores
7570          2Br 2Bath In Katong Near F&B (Min 3 Mths)  0.200835
2308                  Near To Central With Free Parking  0.194561
3024   Modern 2Br Apt In Katong, Free Parking, Near F&B  0.175625
3836   Humble & Conveniently Located 1Br In Katong Area  0.172282
6257   Humble & Conveniently Located 1Br In Katong Area  0.172282
2049                                   East Coast Haven  0.169960
6336   Humble & Conveniently Located 1Br In Katong Area  0.169191
12220        Kampong Living Cosy Room At Coliving Space  0.168525
4369         Spacious 3Br Home With East Coast Sea View  0.167057
10348  Humble & Conveniently Located 1Br In Katong Area  0.165239

# Collaborative Filtering Recommendation

In [46]:
!pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     || 11.8MB 342kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1617563 sha256=bc2b842b241ed85d2fe3ae916923eb68745e6edddf76f158c7f8a019c18dac75
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [47]:
from surprise import SVD, Reader, Dataset
from surprise.model_selection import KFold

In [48]:
df_cfr = customers.copy()

In [49]:
counts = df_cfr['listing_id'].value_counts()
df_cfr = df_cfr[df_cfr['listing_id'].isin(counts[counts >= 10].index)]

In [50]:
counts1 = df_cfr['reviewer_id'].value_counts()
df_cfr = df_cfr[df_cfr['reviewer_id'].isin(counts1[counts1 > 2].index)]

In [51]:
df = df_cfr[['reviewer_id','listing_id','polarity_score' ]]
df.head()
print(df.nunique())

reviewer_id       1878
listing_id        2049
polarity_score    1819
dtype: int64

In [52]:
reader = Reader(rating_scale=(-1, 1))
data = Dataset.load_from_df(df[['reviewer_id', 'listing_id', 'polarity_score']], reader)

In [53]:
raw_ratings = data.raw_ratings

import random
from surprise.model_selection import GridSearchCV
# shuffle ratings if you want
random.shuffle(raw_ratings)

# A = 90% of the data, B = 10% of the data
threshold = int(.9 * len(raw_ratings))
A_raw_ratings = raw_ratings[:threshold]
B_raw_ratings = raw_ratings[threshold:]

data.raw_ratings = A_raw_ratings  # data is now the set A

# Select your best algo with grid search.
print('Grid Search...')

param_grid = {'n_epochs': [5, 10], 'lr_all': [0.002, 0.005,0.1],
              'reg_all': [0.4, 0.6], 'n_factors':[100,500]} # tuning
grid_search = GridSearchCV(SVD, param_grid, measures=['rmse','mae'], cv=3)
grid_search.fit(data)
print('best RMSE score')
print(grid_search.best_score['rmse'])

Grid Search...
best RMSE score
0.24970669603712067

In [54]:
print('combination of parameters that gave the best RMSE score')
print(grid_search.best_params['rmse'])
algo = grid_search.best_estimator['rmse']

combination of parameters that gave the best RMSE score
{'n_epochs': 5, 'lr_all': 0.1, 'reg_all': 0.6, 'n_factors': 100}

In [55]:
# retrain on the whole set A
trainset = data.build_full_trainset()
algo.fit(trainset)

from surprise import accuracy
# Compute biased accuracy on A
testset= trainset.build_testset()
predictions = algo.test(testset)
print('Biased accuracy on A,', end='   ')
accuracy.rmse(predictions,verbose=True)
print('len(predictions)')
print(len(predictions))

Biased accuracy on A,   RMSE: 0.1616
len(predictions)
6734

In [56]:
algo.pu.shape

(1877, 100)

In [ ]:
# Compute unbiased accuracy on B
testset = data.construct_testset(B_raw_ratings)  # testset is now the set B
predictions = algo.test(testset)
print('Unbiased accuracy on B,', end=' ')
accuracy.rmse(predictions)
print('len(predictions)')
print(len(predictions))

In [ ]:
# define a cross-validation iterator
kf = KFold(n_splits=7)
algo = SVD(n_factors=500, n_epochs=5, lr_all=0.1)

for trainset, testset in kf.split(data):
    # train and test algorithm.
    algo.fit(trainset)
    
    predictions = algo.test(testset)
    
    # Compute and print Root Mean Squared Error
    accuracy.rmse(predictions, verbose=True)

In [ ]:
# retrain on the whole set A
trainset = data.build_full_trainset()
algo.fit(trainset)

testset= trainset.build_anti_testset()
predictionsAll = algo.test(testset)
print('Accuracy on whole data set,', end='   ')
accuracy.rmse(predictionsAll,verbose=True)
print('len(predictions)')
print(len(predictionsAll))

In [ ]:
def get_top3_recommendations(predictions, topN = 3):
     
    top_recs = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_recs[uid].append((iid, est))
     
    for uid, user_ratings in top_recs.items():
        user_ratings.sort(key = lambda x: x[1], reverse = True)
        top_recs[uid] = user_ratings[:topN]    
    return top_recs
print('getting top 3 recommendations')

In [ ]:
from collections import defaultdict
top3_recommendations = get_top3_recommendations(predictionsAll,3)

print('Total predictions calculated are %d' % len(predictionsAll))

In [ ]:
dfo = pd.DataFrame(columns=['UserId', 'Recommended Listing,Rating'])
i=0;
for uid, user_ratings in top3_recommendations.items():
    #print(uid, top3_recommendations[uid])
    row = [uid, top3_recommendations[uid]]
    dfo.loc[i] = row
    i=i+1
dfo.to_csv('/content/drive/My Drive/BT4222_Project/submission.csv', index = False)

print("wrote Recommendations for each user in csv file")

# Hybrid Recommendation

In [ ]:
#Build the SVD based Collaborative filter
from surprise import SVD, Reader, Dataset
from surprise.model_selection import KFold

reader = Reader(rating_scale=(-1, 1))
ratings_hr = customers.copy() 
data = Dataset.load_from_df(ratings_hr[['reviewer_id', 'listing_id', 'polarity_score']], reader)
kf = KFold(n_splits=5)
kf.split(data)
svd = SVD()
trainset = data.build_full_trainset()
svd.fit(trainset)

In [ ]:
id_to_name = df_cbr.copy().set_index('id')
name_to_id = df_cbr.copy().set_index('name')
indices = pd.Series(df_cbr.index, index=df_cbr['name']).drop_duplicates()

In [ ]:
def hybrid(reviewer_id, name):
    idx = indices[name]
    listing_id = name_to_id.loc[name]['id']
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    listings_indices = [i[0] for i in sim_scores]
    listing = listings.iloc[listings_indices].copy()
    listing['estimate'] = listing['id'].apply(lambda x: svd.predict(reviewer_id, x).est)
    listing = listing.sort_values('estimate', ascending=False)
    return listing.head(5)

In [ ]:
hybrid(8557223, "Cozy Place In Singapore")

# Hybrid Recommendation 2.0 (removed)

In [ ]:
customers.head()

In [ ]:
df_hr = customers.copy()
df_hr['overall_review'] = (df_hr.review_scores_rating/100 + (df_hr.review_scores_accuracy + df_hr.review_scores_cleanliness + df_hr.review_scores_checkin + \
df_hr.review_scores_communication + df_hr.review_scores_location + df_hr.review_scores_value)/10)/7
df_hr = df_hr.drop(columns = ['review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value'])

In [ ]:
df_hr.head()

In [ ]:
df_hr['preference'] = (df_hr['polarity_score']+1)*df_hr['overall_review']/2
df_hr = df_hr.drop(columns = ['date','comments','polarity_score','overall_review','sentiment'])

In [ ]:
df_hr.describe()

In [ ]:
reader = Reader(rating_scale=(0, 1))
data = Dataset.load_from_df(df_hr[['reviewer_id', 'listing_id', 'preference']], reader)
data_hr = data

In [ ]:
raw_ratings = data.raw_ratings

import random
random.shuffle(raw_ratings)

# A = 90% of the data, B = 10% of the data
threshold = int(0.9 * len(raw_ratings))
A_raw_ratings = raw_ratings[:threshold]
B_raw_ratings = raw_ratings[threshold:]

data.raw_ratings = A_raw_ratings  # data is now the set A

In [ ]:
# Select your best algo with grid search.
print('Grid Search...')

param_grid = {'n_epochs': [5, 10, 20], 'lr_all': [0.002, 0.005, 0.1],
              'reg_all': [0.4, 0.6], 'n_factors':[100,200,500]} # tuning
grid_search = GridSearchCV(SVD, param_grid, measures=['rmse','mae'], cv=3)
grid_search.fit(data)
print('best RMSE score')
print(grid_search.best_score['rmse'])

In [ ]:
print('combination of parameters that gave the best RMSE score')
print(grid_search.best_params['rmse'])
algo = grid_search.best_estimator['rmse']

In [ ]:
# retrain on the whole set A
trainset = data.build_full_trainset()
algo.fit(trainset)

# Compute biased accuracy on A
testset= trainset.build_testset()
predictions = algo.test(testset)
print('Biased accuracy on A,', end='   ')
accuracy.rmse(predictions,verbose=True)
print('len(predictions)')
print(len(predictions))

In [ ]:
# Compute unbiased accuracy on B
testset = data.construct_testset(B_raw_ratings)  # testset is now the set B
predictions = algo.test(testset)
print('Unbiased accuracy on B,', end=' ')
accuracy.rmse(predictions)
print('len(predictions)')
print(len(predictions))

In [ ]:
# define a cross-validation iterator
kf = KFold(n_splits=7)
algo = SVD(n_factors=100, n_epochs=5, lr_all=0.1) # update

for trainset, testset in kf.split(data_hr):
    # train and test algorithm.
    algo.fit(trainset)
    
    predictions = algo.test(testset)
    
    # Compute and print Root Mean Squared Error
    accuracy.rmse(predictions, verbose=True)

In [ ]:
# retrain on the whole set A
trainset = data.build_full_trainset()
algo.fit(trainset)

#testset= trainset.build_anti_testset()
#predictionsAll = algo.test(testset)
#print('Accuracy on whole data set,', end='   ')
#accuracy.rmse(predictionsAll,verbose=True)
#print('len(predictions)')
#print(len(predictionsAll))

In [ ]:
#def get_top3_recommendations(predictions, topN = 3):    
#    top_recs = defaultdict(list)
#    for uid, iid, true_r, est, _ in predictions:
#        top_recs[uid].append((iid, est))
#     
#    for uid, user_ratings in top_recs.items():
#        user_ratings.sort(key = lambda x: x[1], reverse = True)
#        top_recs[uid] = user_ratings[:topN]    
#    return top_recs
#print('getting top 3 recommendations')

In [ ]:
#top3_recommendations = get_top3_recommendations(predictionsAll,3)

In [ ]:
#dfo = pd.DataFrame(columns=['UserId', 'Recommended Listing, Rating'])
#i=0;
#for uid, user_ratings in top3_recommendations.items():
#    row = [uid, top3_recommendations[uid]]
#    dfo.loc[i] = row
#    i=i+1
#dfo.to_csv('/content/drive/My Drive/BT4222_Project/svd_prediction_on_preference).csv', index = False)