<a href="https://colab.research.google.com/github/Jiatong-han/Recommendation-System-for-Airbnb-Houses/blob/main/Data%20Preparation/Clean_Listings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [ ]:
url_front = 'http://data.insideairbnb.com/singapore/sg/singapore/'
url_end = '/data/listings.csv.gz'

# Clean Listings

In [ ]:
dates = ['2019-03-18', '2019-04-20', '2019-05-23', '2019-06-25', '2019-07-21', '2019-08-28', '2019-09-25', '2019-10-25', '2019-11-26', '2019-12-28',
         '2020-01-26', '2020-02-27', '2020-03-21', '2020-04-26', '2020-05-27', '2020-06-22', '2020-10-26', '2020-11-27', '2020-12-29','2021-01-27']

In [ ]:
listings = []

In [ ]:
for date in dates:
    # print(date)
    listing = pd.read_csv(url_front+date+url_end)
    listings.append(listing)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (42,43,61,62,94,95) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
listings_full = listings[0]
for i in range(1, 19):
    listings_full = pd.concat([listings_full, listings[i]])

In [ ]:
listings_full.reset_index()
listings_full.head()

      id  ... number_of_reviews_l30d
0  49091  ...                    NaN
1  50646  ...                    NaN
2  56334  ...                    NaN
3  71609  ...                    NaN
4  71896  ...                    NaN

[5 rows x 108 columns]

In [ ]:
listings_full.shape

(138960, 108)

In [ ]:
listings_cleaned = listings_full.drop(columns = ['listing_url', 'scrape_id', 'last_scraped', 'summary', 'space', 
                                                  'experiences_offered','notes', 'transit', 'access', 'interaction', 
                                                  'house_rules','thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url', # 文字描述
                                                  'host_url','host_name','host_location','host_acceptance_rate', 
                                                  'host_thumbnail_url','host_picture_url','host_total_listings_count',# 房东特征
                                                  'street', 'neighbourhood','city', 'state', 
                                                  'market', 'smart_location', 'country_code', 'country', # 地理位置及周边环境
                                                  'square_feet', # 房屋细节
                                                  'weekly_price', 'monthly_price', # 价格
                                                  'calendar_last_scraped','has_availability', # 可预定日期
                                                  'first_review','last_review', # 评价
                                                  'requires_license', 'license', 'jurisdiction_names','is_business_travel_ready', # 对顾客的要求
                                                  'calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms',
                                                  'calculated_host_listings_count_shared_rooms']) # 房主拥有对房屋数量

In [ ]:
listings_cleaned.shape

(138960, 64)

In [ ]:
listings_cleaned = listings_cleaned.drop_duplicates()
listings_cleaned.reset_index()
listings_cleaned.head()

      id  ... number_of_reviews_l30d
0  49091  ...                    NaN
1  50646  ...                    NaN
2  56334  ...                    NaN
3  71609  ...                    NaN
4  71896  ...                    NaN

[5 rows x 64 columns]

In [ ]:
listings_cleaned.shape

(138278, 64)

In [ ]:
listings_cleaned.to_csv('listings_cleaned.csv')

KeyboardInterrupt: ignored

In [ ]:
!ls

listings_cleaned.csv  sample_data